
a {
    text-decoration: none;
}
.fa-stack.small.override-bs {
    font-size: 0.5em;
}

.wd-input {
    border: none;
    display: block;
    background: transparent;
}

.wd-float-right {
    float: right;
}

.wd-img-fluid{
    height: 100%;
}

.wd-border-light{
    color: gray;
}

.wd-btn-xlg{
    width: 100%;
}

.wd-rounded-pill{
    width: 90%;
}
.wd-float-left{
    float:left;
}


