
a {
    text-decoration: none;
}
.fa-stack.small.override-bs {
    font-size: 0.5em;
}

.wd-input {
    border: none;
    display: block;
    background: transparent;
}

.wd-float-right {
    float: right;
}
.wd-btn-xlg{
    width: 100%;
}

.wd-float-left{
    float:left;
}


