
body {
    background-color: black;
    font-family: Arial;
}

a {
    text-decoration: none;
}
.wd-input {
    border: none;
    display: block;
    background: transparent;
}

.wd-float-right {
    float: right;
}

.wd-img-fluid{
    height: 100%;
}

.wd-border-light{
    color: dimgray;
}

.wd-btn-xlg{
    width: 100%;
}

.wd-rounded-pill{
    width: 90%;
}
.wd-float-left{
    float:left;
}
.nav-link.active.override-bs{
    color: white;
    font-weight: bold;
    text-decoration-line: underline;
    text-decoration-thickness: 4px;
    text-decoration-color:#0d6efd;
    text-underline-offset: 1.1rem;

}
.nav-link.active.override-bs:after {
    border-radius: 5px;
}


.bg-light.override-bs{
    background-color: rgb(47,51,54) !important;
}
.list-group-item-dark.override-bs{
    background-color: black;
}
.list-group-item-secondary.override-bs{
    background-color: rgb(47,51,54) ;
    border: none;
}
.list-group-item.active.override-bs{
    border: none;
    font-weight: bold;
}
.col-11.override-bs{
    width: 90%;
}
.btn-primary.override-bs{
    background-color: white;
    color: black;
    border: none;
    font-weight: bold;
}
.list-group.override-bs{
    border-radius: 25px;
}
.list-group-item-light.override-bs{
    background-color: rgb(47,51,54);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.card.override-bs{
    border-bottom: 1px solid rgb(47,51,54);
    border-top: 1px solid rgb(47,51,54);
}
.border.border-light.override-bs{
    border: 1px solid rgb(47,51,54) !important;
}
