html{
    width: 100%;
    min-height: 100%;
}
body{
    font-family: Arial;
    font-size: 15px;
    color: rgb(110,118,125);
    background-color: black;
    border: 1px solid rgb(41,51,54);
    height: 100%;
    width: 41.5%;
    margin-left: 29.25%;
    margin-right: 29.25%;
}
a {
    text-decoration: none;
    color:rgb(110,118,125);
}

.wd-bookmark-1{
    width: 100%;
    height: fit-content;
}
.wd-title-text{
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-top: 12px;
    margin-left: 16px;
}
.wd-handle-text{
    color: rgb(110,118,125);
    font-size: 13px;
    margin-left: 16px;
}
.wd-border-box{
    width: 100%;
    height: 12px;
    border-bottom: 1px solid rgb(47,51,54);
}

.wd-text-bold{
    font-size: 15px;
    color: white;
    font-weight: bold;
}
.wd-circle{
    border-radius: 50%;
}

.wd-rounded-corners-top{
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border: 1px solid rgb(47,51,54);
}
.wd-padding-top{
    padding-top: 12px;
}
.wd-padding-bottom{
    padding-bottom: 12px;
}
.wd-padding-left{
    padding-left: 12px;
}
.wd-padding-right{
    padding-right: 12px;
}

.wd-grid-row {
    clear: both;
    margin-left: 16px;
}

.wd-grid1 {
    /*background-color:yellow;*/
    width: fit-content;
    height: 550px;
    float: left;
    padding-right:12px;
}
.wd-grid2{
    width: calc(100% - 60px);
    height: fit-content;
    float: left;
}
.wd-content{
    width: 100%;
    max-width: 506px;
    /*border: 1px solid red;*/
    float:right;
    text-align: justify;
}
.wd-grid3 {
    width: calc(100% - 76px);
    height: fit-content;
    float: left;
}

.wd-grid4 {
    /*background-color: white;*/
    width: calc(100% - 60px);
    height: 264px;
    float: left;
}
.wd-grid5{
    width: calc(100% - 60px);
    height: fit-content;
    float: left;
}
.wd-float-done{
    clear:both
}
.wd-text-box{
    width: 504px;
    height: 100%;
    border: 1px solid rgb(47,51,54);
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}
.wd-grid6{
    width: calc(100% - 60px);
    height: fit-content;
    float:left
}
.wd-flex-container{
    width: 100%;
    /*border: 1px gray solid;*/
    display: flex;
}
.wd-flex-box{
    width: 25%;
    padding-top: 12px;
}
.wd-flex-contain > .flex-box{
    flex-basis: 100%;
}

.wd-bookmark-2{
    width: 100%;
    height: fit-content;
    border-top: 1px solid rgb(47,51,54);
}





